# Basic Python

#### Variable asignment

In [1]:
name_of_var = 2 #can't have spaces or start with a number or special character

In [2]:
name_of_var #call for the variable

2

In [3]:
print(name_of_var) #print values

2

## Data types

In [4]:
num = 50
type(num) #integer

int

In [5]:
num1 = 4.75
type(num1) #float

float

In [6]:
cn = complex(3,4)
type(cn) #complex number

complex

In [7]:
st = 'hola!'
type(st) #string

str

In [8]:
boo = True
type(boo) #boolean

bool

In [9]:
lst = [1,2,3]
type(lst) #list

list

In [10]:
d = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
type(d) #dictionary

dict

In [11]:
t = (1,2,3)
type(t) #tuple

tuple

In [12]:
s = {1,2,3}
type(s) #set

set

In [13]:
fnc = lambda var: var*2
type(fnc) #function

function

## Change type

In [14]:
str(num) #number to string

'50'

In [15]:
int(num1) #float to the nearest integer

4

In [16]:
float(num) #integer to float

50.0

In [17]:
bool(0) #False
bool(1) #True

True

In [18]:
list(t) #tuple to list

[1, 2, 3]

In [19]:
tuple(lst) #list to tuple

(1, 2, 3)

In [20]:
list(d) #dictionaty to list (only keys)

['key1', 'key2', 'key3']

### Numbers

In [21]:
1 + 1 #sum

2

In [22]:
5 - 2 #sustraction

3

In [23]:
3 * 4 #product

12

In [24]:
8 / 2 #division

4.0

In [25]:
9 % 2 #module

1

In [26]:
2 ** 3 #power

8

In [27]:
x = 3
y = 6

res = (x * y) - (x + y)
res

9

In [28]:
(2 + 3) * (5 + 5) #combinated operations

50

### Strings

In [29]:
st1 = 'single quotes'
st1

'single quotes'

In [30]:
st2 = "double quotes"
st2

'double quotes'

In [31]:
st1 + ' or ' + st2 #concatenate strings

'single quotes or double quotes'

In [32]:
#assign variables
name = 'Paul'
num = 28

#include variables in text
print('My name is {one}, and my age is {two}'.format(one=name,two=num))
print('My name is {}, and my age is {}'.format(name,num))

My name is Paul, and my age is 28
My name is Paul, and my age is 28

### Lists

In [33]:
[1,2,3] #same data type

[1, 2, 3]

In [34]:
['hi',1,[1,2]] #different type

['hi', 1, [1, 2]]

In [35]:
my_list = ['a','b','c']
my_list.append('d') #add value
my_list

['a', 'b', 'c', 'd']

### Dictionaties

In [36]:
d = {'key1':'value1','key2':'value2','key3':'value3'}
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

### Booleans

In [37]:
True & True #& means AND

True

In [38]:
True & False

False

In [39]:
False & False

False

In [40]:
True | True #& means OR

True

In [41]:
True | False

True

In [42]:
False | False

False

### Tuples

In [43]:
t = (1,2,3)
t[0]

1

In [44]:
#t[0] = 4 #ERROR: tuples can't be modified

### Sets

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2} #unique values

{1, 2, 3}

## Indexing and Selection

In [47]:
my_list[0] #one value using position (Iindex starts at 0)

'a'

In [48]:
my_list[1:3] #many values using range (start is included, end is excluded.)

['b', 'c']

In [49]:
my_list[:1] #if no value means from the beggining/ until the end

['a']

In [50]:
my_list[0] = 'X' #modify value
my_list

['X', 'b', 'c', 'd']

In [51]:
nest = [1,2,3,[4,5,[7,8]]] #nested list
nest[3][2][0] #selects the corresponded number of each nested item

7

In [52]:
d['key1'] #selection in dictionaries using key

'value1'

## Comparison Operators

In [53]:
1 < 2 #smaller than

True

In [54]:
1 > 2 #bigger than

False

In [55]:
1 >= 1 #bigger or equal

True

In [56]:
1 <= 4 #smaller or equal

True

In [57]:
'hola' == 'hi' #equal

False

In [58]:
'hola' != 'hi' #different

True

### Logical Operators

In [59]:
(1 > 2) and (2 < 3) #AND means ALL
(1 > 2) & (2 < 3) #equivalent

False

In [60]:
(1 > 2) or (2 < 3) #OR means ANY
(1 > 2) | (2 < 3) #equivalent

True

In [61]:
'x' in [1,2,3] #included

False

In [62]:
'x' in ['x','y','z']

True

## if, elif, else

In [63]:
if 1 < 2:
    print('yes') #if true print

yes

In [64]:
if 1 < 2:
    print('first')
else:
    print('last') #if true print, else print

first

In [65]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last') #if true print, elif true print, else print

middle

## Loops

In [66]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [67]:
for item in seq:
    print('number')

number
number
number
number
number

In [68]:
#while
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [69]:
#range
range(5)
for i in range(5):
    print(i)

0
1
2
3
4

In [70]:
#list comprehension
x = [1,2,3,4]
out = []

for item in x:
    out.append(item**2)
print(out)

[item**2 for item in x] #equivalent in one line

[1, 4, 9, 16]

[1, 4, 9, 16]

## Functions

In [71]:
def my_func(param1='default'):
    """
    Description.
    """
    print(param1)
    
my_func()

default

In [72]:
def square(x):
    return x**2

square(2)

4

### lambda expressions

In [73]:
def times2(var):
    return var*2
times2(2)

lambda var: var*2 #equivalent

In [74]:
#map
seq = [1,2,3,4,5]

list(map(times2,seq))
list(map(lambda var: var*2,seq)) #equivalent

[2, 4, 6, 8, 10]

In [75]:
#filter
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Methods and functions

In [76]:
num = 4.24
round(num)

4

In [77]:
st = 'Winter is coming!'
st.lower() #lower case

'winter is coming!'

In [78]:
st.upper() #upper case

'WINTER IS COMING!'

In [79]:
st.capitalize() #capitalize first word

'Winter is coming!'

In [80]:
stsp = st.split() #split using spaces
stsp

['Winter', 'is', 'coming!']

In [81]:
tweet = 'Winter is coming! #GOT'
tweet.split('#')[1] #split using special character and selecting after it

'GOT'

In [82]:
d.keys() #for dictionaries, keys

dict_keys(['key1', 'key2', 'key3'])

In [83]:
d.items() #for dictionaries, items

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [84]:
lst = [4,5,1,2,3]
lst

[4, 5, 1, 2, 3]

In [85]:
min(lst)

1

In [86]:
max(lst)

5

In [87]:
sorted(lst)

[1, 2, 3, 4, 5]

In [88]:
lst.pop() #drops last element
lst

[4, 5, 1, 2]